DATABASE_URL="postgresql://nhatro:nhatro@localhost:5435/nhatro?schema=public"
PORT=3000

LANDLORD_BANK_NAME=
LANDLORD_BANK_ACCOUNT_NUMBER=
LANDLORD_BANK_ACCOUNT_NAME=

LANDLORD_BANK_2_NAME=
LANDLORD_BANK_2_ACCOUNT_NUMBER=
LANDLORD_BANK_2_ACCOUNT_NAME=

NOTIFICATION_PRIMARY_PROVIDER=email
NOTIFICATION_FALLBACK_PROVIDER=sms

EMAIL_PROVIDER=resend
EMAIL_API_KEY=
EMAIL_FROM=noreply@yourdomain.com

SMS_GATEWAY_URL=
SMS_GATEWAY_USER=
SMS_GATEWAY_PASSWORD=
